@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { scroll-behavior: smooth; scroll-padding-top: 4rem; }

@layer components{
    .header_link {
        @apply text-center p-3 mx-1 text-white text-2xl md:text-4xl hover:text-teal-600 hover:border-teal-600 transition-all duration-150 flex justify-center items-center border rounded-full
    }
    
    .nav_el {
        @apply p-4 my-1 hover:bg-slate-800 rounded-lg transition-all duration-150
    }

    .nav_link {
        @apply w-full flex gap-1 items-center transition-all duration-150 hover:text-teal-600
    }
    
    .table__cell {
        @apply grid bg-black even:bg-slate-900 text-white grid-cols-1 md:grid-cols-3 place-items-center p-4
    }

    .cell__title {
        @apply w-full font-bold text-center md:text-left
    }

    .cell__specialisation {
        @apply italic opacity-80
    }

    .cell__price {
        @apply text-teal-600
    }

    .h1 {
        @apply text-white text-3xl text-center font-bold p-3
    }

    .revealed {
        @apply scale-y-100 h-full !important
    }

    .contact__link {
        @apply text-white opacity-80 italic ml-2 mb-3 flex gap-1 items-center transition-all duration-150 hover:opacity-80 hover:underline
    }

    .contact__icon {
        @apply text-teal-600 text-2xl font-bold
    }

    .company__data {
        @apply text-gray-300 py-1 italic drop-shadow-lg flex gap-2
    }

    .company__data__heading {
        @apply font-bold text-white not-italic
    }

    .footer__link {
        @apply text-white transition-all py-1 drop-shadow hover:drop-shadow-lg
    }

    .radial {
        @apply absolute w-full h-full z-0
    }
}

.landing__page {
    background-image: url('/bg-image-clipo.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('/clipo-logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__image {
    background-image: url('/photos/replacement-clipo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.specialist__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.specialist {
    opacity: 0.8;
    /*background-color: #22c55e;*/
    background-color: rgb(13 148 136 / 1);;
    background-image: radial-gradient(#1e293b 6px, transparent 6px);
    background-size: 10px 10px;
    background-position: center;
}

.contact {
    --pattern-color: #22c55e37;
    /* background:
        radial-gradient(circle at 100% 50%, transparent 20%, var(--pattern-color) 21%,
            #22c55e 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, #22c55e 21%, var(--pattern-color) 34%, transparent 35%, transparent) 0 -50px;
    background-color: rgb(15 23 42);
    background-size: 75px 100px; */
    background-color: rgba(230, 230, 247, 0);
    background-image:  linear-gradient(var(--pattern-color) 1px, transparent 1px), linear-gradient(to right, var(--pattern-color) 1px, rgba(230, 230, 247, 0) 1px);
    background-size: 20px 20px;
}

.radial {
    background: radial-gradient(circle, rgba(212,240,252,0) 20%, rgb(15 23 42) 100%);
}

.services {
    background-color: rgba(230, 230, 247, 0);
    background-image: radial-gradient(rgb(13 148 136 ) 0.55px, rgba(230, 230, 247, 0) 0.55px);
    background-size: 11px 11px;
}